.bodyContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}
.inputTitle{
    padding: 10px;
    border-top-right-radius: 8px;
    width: 5em;
    text-align: center;
    background-color: var(--bottonBorder);
    color: aliceblue;
}
.inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.control{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.saveQuery{
    color: white;
    background-color: #01d356;
    padding: 8px;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: larger;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.saveQuery:hover{
    cursor: pointer;
}
.runQuery{
    color: white;
    background-color: red;
    padding: 8px;
    width: 35px;
    margin-left: 10px;
    text-align: center;
    font-size: larger;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.runQuery:hover{
    cursor: pointer;
}
.resetQuery{
    color: white;
    background-color: var(--bottonBorder);
    padding: 8px;
    width: 35px;
    margin-left: 10px;
    text-align: center;
    font-size: larger;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.resetQuery:hover{
    cursor: pointer;
}
.uploadQuery{
    color: white;
    background-color: var(--accent);
    padding: 8px;
    width: 35px;
    margin-left: 10px;
    text-align: center;
    font-size: larger;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 0;
}
.uploadQuery:hover{
    cursor: pointer;
}

.queryTitle{
    font-size: 22px;
    color: var(--accent);
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    margin-bottom:10px;
    margin-top: 10px;
}
.dummyQuery{
    border: 2px solid var(--accent);
    border-radius: 6px;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
}
.dummyQuery:hover{
    cursor: pointer;
}
.uploadFix{
    display: none;
}

@media screen and (max-width:1100px) {
    .bodyContainer{
        flex-direction: column;
    }
    .fix{
        margin-bottom: 10px;
    }
    .leftContainer{
        width: 100%;
    }
    .rightContainer{
        width: 100%;
    }
}

@media screen and (max-width:650px) {
    .bodyContainer{
        flex-direction: column;
    }
    .fix{
        margin-bottom: 10px;
    }
    .leftContainer{
        width: 100%;
    }
    .rightContainer{
        width: 100%;
    }
}

.avatar {
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .avatar::before,
  .avatar::after {
    --scale: 0;
    --arrow-size: 7px;
    --tooltip-color: var(--accent);
  
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
  }
  
  .avatar::before {
    --translate-y: calc(-100% - var(--arrow-size));
  
    content: attr(data-tooltip);
    color: white;
    padding: .3rem;
    font-size: mediumg;
    border-radius: .3rem;
    text-align: center;
    width: max-content;
    max-width: 100%;
    background: var(--tooltip-color);
  }
  .avatar:hover::before,
  .avatar:hover::after {
    --scale: 1;
  }
  
  .avatar::after {
    --translate-y: calc(-1 * var(--arrow-size));
  
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
  }