.bodyContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    width: auto;
    max-width: revert;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 50%;
    width: auto;
    max-width: revert;
}
.inputTitle{
    padding: 10px;
    border-top-right-radius: 8px;
    width: 5em;
    text-align: center;
    background-color: var(--bottonBorder);
    color: aliceblue;
}
.inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.control{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.saveQuery{
    color: white;
    background-color: #01d356;
    padding: 8px;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: larger;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.saveQuery:hover{
    cursor: pointer;
}
.runQuery{
    color: white;
    background-color: red;
    padding: 8px;
    width: 35px;
    margin-left: 10px;
    text-align: center;
    font-size: larger;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.runQuery:hover{
    cursor: pointer;
}
.resetQuery{
    color: white;
    background-color: var(--bottonBorder);
    padding: 8px;
    width: 35px;
    margin-left: 10px;
    text-align: center;
    font-size: larger;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.resetQuery:hover{
    cursor: pointer;
}
.uploadQuery{
    color: white;
    background-color: var(--accent);
    padding: 8px;
    width: 35px;
    margin-left: 10px;
    text-align: center;
    font-size: larger;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 0;
}
.uploadQuery:hover{
    cursor: pointer;
}

.queryTitle{
    font-size: large;
    text-align: center;
}
.dummyQuery{
    border: 2px solid var(--accent);
    border-radius: 6px;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
}
.dummyQuery:hover{
    cursor: pointer;
}
.uploadFix{
    display: none;
}

@media screen and (max-width:1100px) {
    .bodyContainer{
        flex-direction: column;
    }
}

@media screen and (max-width:650px) {
    .bodyContainer{
        flex-direction: column;
    }
}