*{
    margin: 0;
    padding: 0;
    border: 0px solid black;
}
.theme{
    --text: #111111;
    --accent: #326690;
    --background: #f8f8f8;
    --bottonBorder: #1E1C1C;
    --footer-color: #ffffff;
}